.collapsibleContent {
  overflow: hidden;

  &[data-state="open"] {
    animation: collapsibleDown 0.2s ease-out;
  }

  &[data-state="closed"] {
    animation: collapsibleUp 0.2s ease-out;
  }
}

@keyframes collapsibleDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsibleUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
