.carousel {
  position: relative;
}

.carouselContent {
  overflow: hidden;

  > div {
    display: flex;

    &.horizontal {
      margin-left: -1rem;
    }

    &.vertical {
      margin-top: -1rem;
      flex-direction: column;
    }
  }
}

.carouselItem {
  min-width: 0;
  flex-shrink: 0;
  flex-grow: 0;
  basis: 100%;
  role: group;
  aria-roledescription: slide;

  &.horizontal {
    padding-left: 1rem;
  }

  &.vertical {
    padding-top: 1rem;
  }
}

.carouselPrevious,
.carouselNext {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;

  &.horizontal {
    top: 50%;
    transform: translateY(-50%);

    &.previous {
      left: -3rem;
    }

    &.next {
      right: -3rem;
    }
  }

  &.vertical {
    left: 50%;
    transform: translateX(-50%);

    &.previous {
      top: -3rem;
      transform: translateX(-50%) rotate(90deg);
    }

    &.next {
      bottom: -3rem;
      transform: translateX(-50%) rotate(90deg);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}
