.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  justify-content: center;
}

.paginationContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.paginationLink {
  &[data-active="true"] {
    border: 1px solid var(--border);
    background-color: var(--background);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  &:not([data-active="true"]) {
    &:hover {
      background-color: var(--accent);
      color: var(--accent-foreground);
    }
  }

  &[aria-current="page"] {
    border: 1px solid var(--border);
    background-color: var(--background);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
}

.paginationEllipsis {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  align-items: center;
  justify-content: center;

  svg {
    width: 1rem;
    height: 1rem;
  }
}
